image: node:12.22.1-buster
pipelines:
  branches:
    master:
      - step:
          name: Build
          deployment: Test
          caches:
            - node
          script:
            - echo "Installing packages..."
            - npm install
            - echo "Building ..."
            - npm run export
            - ls -la
            - pipe: atlassian/sftp-deploy:0.5.7
              variables:
                USER: $FTP_USERNAME
                SERVER: $SFTP_HOST
                REMOTE_PATH: $SFTP_FOLDER
                LOCAL_PATH: 'dist/*'
                PASSWORD: $FTP_PASSWORD
          artifacts:
            - out/**