.t1 {
  top: 1339px;
  left: 844px;
  width: 880px;
  height: 214px;
  text-align: left;
  font: normal normal bold 178px/62px Roboto;
  letter-spacing: -5.7px;
  color: #3a3ece;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 20px;
}

.t2 {
  top: 1543px;
  left: 844px;
  width: 745px;
  height: 110px;
  text-align: left;
  font: normal normal bold 92px/60px Roboto;
  letter-spacing: 0px;
  color: #3a3ece;
  text-transform: uppercase;
  opacity: 1;
}
.bgRecruiter {
  top: 1833px;
  left: 325px;
  width: 833px;
  height: 214px;
  background: transparent url("/assets/svg/REcruter.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}

#bgCosmonaut {
  top: 1288px;
  left: -38px;
  width: 834px;
  height: 775px;
  transform: matrix(0.96, -0.28, 0.28, 0.96, 0, 0);
  background: transparent url("/assets/svg//cosmonaut\ 1.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}

#button {
    top: 1714px;
    left: 889px;
    width: 240px;
    height: 28px;
    text-align: center;
    font: normal normal bold 23px/26px Roboto;
    letter-spacing: 0px;
    color: #211F85;
    text-transform: uppercase;
    opacity: 1;  
}