.body {
  background-image: url('../../../assets//bg/bgHeader.png');
  background-size: cover;
  height: 110vh;
}
.blockContent {
  margin-top: 15%;
}
.NavBar {
  padding-top: 3rem !important;
  position: absolute;
  width: 100%;
  margin-bottom: 10%;
  top: 0;
}

.text_Stroke {
  text-align: center;
  text-transform: uppercase;
  font: normal normal 700 90px/100px Roboto;
  letter-spacing: 0.94px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  color: white;
}

#t1 {
  top: 361px;
  left: 452px;
  height: 162px;
  text-align: center;
  font: normal normal 900 90px/162px Roboto;
  letter-spacing: 0.94px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

#t2 {
  top: 492px;
  left: 381px;
  height: 162px;
  text-align: center;
  font: normal normal 900 100px/162px Roboto;
  letter-spacing: 0.94px;
  color: #ffd94a;
  text-transform: uppercase;
  opacity: 1;
}

#desc {
  top: 699px;
  left: 466px;
  height: 86px;
  text-align: center;
  font: normal normal 300 25px/37px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.75;
}

#scroll {
  top: 915px;
  left: 945px;
  text-align: center;
  width: 30px;
  height: 43px;
  opacity: 1;
}
