.bodyClient {
  background-image: url('../../../assets//bg/bgClient.png');
  background-size: cover;
  height: 150vh;
}

.clientTitle {
  text-align: left;
  font: normal normal bold 180px/164px Roboto;
  letter-spacing: 19.76px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.paragraph {
  display: flex;
  justify-content: space-around;
  padding: 5% 0%;
}
.text1 {
  text-align: left;
  font: normal normal 300 30px/50px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
}
.teamText {
  margin-top: 5%;
}

.team {
  text-align: left;
  font: normal normal 300 25px/25px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 0%;
}

.plaisir {
  text-align: left;
  font: normal normal bold 30px/25px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 0%;
}
.t3 {
  text-align: left;
  font: normal normal 300 25px/40px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  padding-left: 0%;
  opacity: 1;
}
.buttonRecruter button {
  margin-top: 5%;
  background: #ffc937 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #211f85;
  text-transform: uppercase;
  text-align: center;
  font: normal normal bold 20px/25px Roboto;
  letter-spacing: 0px;
  padding: 2% 4%;
}

.spaceship2 {
  height: 100vh;
}
.spaceship2 img {
  height: 100%;
}
