.bodyWhyIt {
  background-image: url('../../../assets/bg/bgWhyIt.png');
  background-size: cover;
    min-height: 723px;
    background-position: center;
    display: flex;
    justify-content: center;
}

.whyIt {
  height: "100vh";
  width: "100%";
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  
}

.text_Stroke {
  text-align: center;
  text-transform: uppercase;
  font: normal normal 700 90px/100px Roboto;
  letter-spacing: 0.94px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.textStyleWhite {
  text-align: left;
  font: normal normal bold 80px/100px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  width: 115%;
}

.textStyleGreen {
  text-align: center;
  font: normal normal bold 80px/150px Roboto;
  letter-spacing: 0px;
  color: #2df8c0;
  text-transform: uppercase;
  opacity: 1;
}
.textStyleGreen2 {
  text-align: center;
  font: normal normal bold 60px/100px Roboto;
  letter-spacing: 0px;
  color: #2df8c0;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 15%;
}
.textWhite2 {
    text-align: left;
    font: normal normal bold 80px/100px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    width: 115%;
    padding-left: 15%;
}

.text3 {
  padding-left: 12%;
  width: 115%;
}
.text4 {
  text-align: center;
  font: normal normal bold 30px/50px Roboto;
  letter-spacing: 0px;
  color: #2df8c0;
  text-transform: uppercase;
  opacity: 1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}
