.bodyTrouverMission {
  background-image: url('../../../assets//bg/bgTrouverMission.png');
  background-size: cover;
  height: 150vh;
}
.mission_1 {
  height: "100vh";
  width: "100%";
  display: flex;
  justify-content: center;
  padding-top: 5%;
  
}

.trouverBlock {
  height: 0%;
}

#title1 {
  text-align: left;
  font: normal normal bold 85px/60px Roboto;
  letter-spacing: 0px;
  color: #ffd94a;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 50px;
  margin-top: 3%;
}
#title2 {
  text-align: left;
  font: normal normal bold 85px/60px Roboto;
  letter-spacing: 0px;
  color: #ffd94a;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 50px;
  margin-top: 3%;
}
#title3 {
  text-align: left;
  font: normal normal bold 85px/60px Roboto;
  letter-spacing: 0px;
  color: #ffd94a;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 50px;
  margin-top: 3%;
}

#title4 {
  text-align: left;
  font: normal normal bold 85px/60px Roboto;
  letter-spacing: 0px;
  color: #ffd94a;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 50px;
  margin-top: 3%;
}
.trouver {
  display: flex;
  justify-content: center;
  padding-bottom: 0%;
  padding-left: 10%;
}
.Une_mission {
  width: 112%;
  display: flex;
  justify-content: center;
}
.qui_rend {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 15%;
}
.content {
  width: 100%;
  margin-left: 32%;
}
.spaceship1 {
  margin-right: 5%;
  height: 0%;
  display: block;
}

.spaceship1 img{
  height: 115vh;
  margin-top: 25%;
  margin-right: 20%;
}

.button_inspirnaute {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 10%;
  margin-top: 7%;
}
.button_inspirnaute button {
  background: #0af2b2 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal bold 13px/26px Roboto;
  letter-spacing: 1.7px;
  color: #211f85;
  text-transform: uppercase;
  opacity: 1;
  width: 28%;
}
